{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
{% block title %}<title>Login</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/usuario.css' %}">

</head>
<body>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">  
{% block sidebar %}

  			<ul class="sidebar-nav">
                <li><a class="ini" href="{% url 'Inicio' %}">Inicio</a></li>
                <li><a class="na" href="{% url 'Naruto' %}">Personajes</a></li>
                <li><a class="lis" href="{% url 'ListaPersonajes' %}">Galeria</a></li>
                <li><a class="cre" href="{% url 'usuario_create' %}">Registro</a></li>
				<li><a class="us" href="{% url 'usuarios' %}">Usuarios</a></li>
  			</ul>
{% endblock%}


{% block content %}

{% if Usuarios %}
	<div class="users">
	  {% for usuario in Usuarios %}
	  <div id="cont">
		<h1>Usuario: {{usuario.Username}}</h1>
		<p>Nombre: {{usuario.Nombre}}</p>
		<p>Apellido: {{usuario.Apellido}}</p>
		<a class="det" href="{{ usuario.get_absolute_url }}">Detalles</a>
		<a class="up" href="{{ usuario.get_absolute_url }}/update">Actualizar</a>
        <a class="del" href="{{ usuario.get_absolute_url }}/delete">Eliminar</a>
	</div>
      {% endfor %}
	</div>
      {% else %}
      	<p> No hay usuarios para mostrar</p>
      {% endif %}

{% endblock%}

</body>
</html>