{% block content %}

  		<nav>
  			<ul>
                <li><a class="menu" href="{% url 'Inicio' %}">Inicio</a></li>
                <li><a class="menu" href="{% url 'Naruto' %}">Personajes</a></li>
                <li><a class="menu" href="{% url 'ListaPersonajes' %}">Galeria</a></li>
                <li><a class="menu" href="{% url 'Registro' %}">Registro</a></li>
  			</ul>
  		</nav>
<h1> Borrar Usuario</h1>

<p> Seguro que desea borrar el usuario: {{usuario}}?</p>

<form action="" method="POST">

	{% csrf_token %}
<input type="submit" action="" value="Si, borrar">
</form>


{% endblock %}