body{
  
    background-color: red;
    /*background-repeat: no-repeat;*/
}


li{
  float: left;
  list-style: none;
  margin-top: 1vw;
  margin-right: -3.4vw;
}

nav{

  float: right;
  margin-top: -6.5vw;
  margin-right: 38vw;
}